<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WordVec Search</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link href="static/css/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="static/img/favicon.ico">
  <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="static/img/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="static/img/apple-touch-startup-image-640x920.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">WordVec Search</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the words and get to the <strong>target word tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
    <p>
    <strong class="important">What's all this Machine Learning Hype?</strong> This site is a demo of what can be done with word vectors. Ever wondered how words are related to each other? Google created <a href="https://opensource.googleblog.com/2013/08/learning-meaning-behind-words.html">word2vec</a>, this take a bunch of words and turns them into vectors. You can also download <a href="https://code.google.com/archive/p/word2vec/">pretrained vectors</a> that have been trained on large data sets, e.g. Google News. The well know example is <a href="http://p.migdal.pl/2017/01/06/king-man-woman-queen-why.html">turning king into queen</a> by using arithmatic king - man + woman = queen.
    </p>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. Tiles can always be merged along the horizontal and vertical axis. The resulting word is the sum of the word vectors of the two origional words, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    Created by <a href="hhttps://github.com/fhk" target="_blank">Fabion Kauker.</a>
    Based on <a href="http://git.io/2048" target="_blank">2048 by Gabriele Cirulli</a>,
    based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
    <hr>
    <p>Thanks to Desi Quintans for <a href="http://www.desiquintans.com/nounlist">The Great Noun List</a>, and Sebastian Ruder for pointing me in the right direction on how to handle the large vector data and his excellent <a href="http://sebastianruder.com/word-embeddings-1/">blog</a>.
  </div>
  <script src="static/js/words.js"></script>
  <script src="static/js/bind_polyfill.js"></script>
  <script src="static/js/classlist_polyfill.js"></script>
  <script src="static/js/animframe_polyfill.js"></script>
  <script src="static/js/keyboard_input_manager.js"></script>
  <script src="static/js/html_actuator.js"></script>
  <script src="static/js/grid.js"></script>
  <script src="static/js/tile.js"></script>
  <script src="static/js/local_storage_manager.js"></script>
  <script src="static/js/game_manager.js"></script>
  <script src="static/js/application.js"></script>
</body>
</html>
